@page "/editor"
@using Aurigma.Design
@using Aurigma.Design.Math
@using Aurigma.Design.Appearance
@using Aurigma.Design.Content
@using Aurigma.Design.Appearance.Color
@using Aurigma.Design.Content.Controls
@using ApiClient;
@using BlazorExtensions

<PageTitle>Editor</PageTitle>

<h1>Editor</h1>

<DesignViewer Width="400" Height="400" ArtboardScrollMargin="@(new Sides(150))" @ref="_designViewer"></DesignViewer>

@code {
    private DesignViewer _designViewer;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender == false)
        {
            return; 
        }

        //IDesignsApiClient client = new DesignsApiClient("https://localhost:7091", new HttpClient());

        //string name = "design_18_05_2022_19_50_04";
        //var response = await client.GetDesignContentAsync(name);
        //Design design = Design.Parser.ParseFrom(response.Stream);

        Brush redBrush = new Brush()
            {
                Solid = new SolidBrush()
                {
                    Color = new Color()
                    {
                        Process = new ProcessColor()
                        {
                            Alpha = 255,
                            Rgb = new RgbColor()
                            {
                                R = 255,
                                G = 0,
                                B = 0
                            }
                        }
                    }
                }
            };

            Brush blueBrush = new Brush()
            {
                Solid = new SolidBrush()
                {
                    Color = new Color()
                    {
                        Process = new ProcessColor()
                        {
                            Alpha = 255,
                            Rgb = new RgbColor()
                            {
                                R = 0,
                                G = 0,
                                B = 255
                            }
                        }
                    }
                }
            };

            Brush blackBrush = new Brush()
            {
                Solid = new SolidBrush()
                {
                    Color = new Color()
                    {
                        Process = new ProcessColor()
                        {
                            Alpha = 255,
                            Rgb = new RgbColor()
                            {
                                R = 0,
                                G = 0,
                                B = 0
                            }
                        }
                    }
                }
            };

            List<float> dashes = new List<float>()
            {
                0.0f,
                1.0f,
                1.1f
            };

            Pen blackPen = new Pen()
            {
                Color = new Color()
                {
                    Process = new ProcessColor()
                    {
                        Alpha = 255,
                        Rgb = new RgbColor()
                        {
                            R = 0,
                            G = 0,
                            B = 0
                        }
                    }
                },
                DashOffset = 0.1f,
                LineCap = LineCap.Round,
                LineJoin = LineJoin.Round,
                MiterLimit = 2f,
                Width = 3f               
            };
            blackPen.Dashes.AddRange(dashes);

            List<Artboard> artboards = new List<Artboard>()
            {
                new Artboard()
                {
                    Background = blueBrush,
                    Name = "artboard1",
                    Size = new Size()
                    {
                       Width = 100,
                       Height = 150
                    },
                    Basis = Affine2DMatrix.CreateIdentity(),
                    TrimSettings = new TrimSettings()
                    {
                       Bleed = new Sides()
                       {
                           Left = 15,
                           Top = 15,
                           Right = 15,
                           Bottom = 15
                       },
                       Slug = new Sides()
                       {
                           Left = 5,
                           Top = 5,
                           Right = 5,
                           Bottom = 5
                       }
                    }
                }
            };

            List<Element> elements = new List<Element>()
            {
                new Element()
                {
                    Content = new ElementContent()
                    {
                        ClosedVector = new ClosedVector()
                        {
                            Controls = new ClosedVectorControls()
                            {
                                Rectangle = new RectangleControls()
                                {
                                    Corner1 = new Point(-10, -10),
                                    Corner2 = new Point(10, 10)
                                }
                            },
                            Fill = redBrush,
                            Stroke = blackPen,
                        }
                    },
                    Position = new Point(15, 13),
                    ReferencePoint = ReferencePointType.TopLeftCorner,
                    Transform = Affine2DMatrix.CreateRotate(MathF.PI / 6)
                },
                new Element()
                {
                    Content = new ElementContent()
                    {
                        ClosedVector = new ClosedVector()
                        {
                            Controls = new ClosedVectorControls()
                            {
                                Rectangle = new RectangleControls()
                                {
                                    Corner1 = new Point(0, 0),
                                    Corner2 = new Point(30, 15)
                                }
                            },
                            Fill = blackBrush,
                            Stroke = blackPen,
                        }
                    },
                    Position = new Point(-10, 0),
                    ReferencePoint = ReferencePointType.TopLeftCorner,
                    Transform = Affine2DMatrix.CreateScale(2).Rotate(-MathF.PI / 3)
                }
            };

            Layer layer = new Layer()
            {
                Name = "layer1"
            };
            layer.Elements.AddRange(elements);

            List<Layer> layers = new List<Layer>
            {
                layer
            };

            Surface surface = new Surface()
            {
                Name = "front",
            };
            surface.Artboards.AddRange(artboards);
            surface.Layers.AddRange(layers);

            List<Surface> surfaces = new List<Surface>()
            {
                surface
            };

        string name = "design_06_06_2022_22_32_24";
        var response = await client.GetDesignContentAsync(name);
        Design design = Design.Parser.ParseFrom(response.Stream);

        _designViewer.SetDesign(design);
    }
}
